/* Universal */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e4ecee;
}

.likes {
  font-family: "Open Sans", sans-serif;
  color: #dadfd8;
  font-size: 8px;
  position: absolute;
  bottom: 17px;
  left: 16px;
}

.likes:before {
  content: "\2665";
  color: #dadfd8;
  padding-right: 6px;
}

.clear {
  clear: both;
}

/* Navigation */

header {
  margin: 0px 0px 30px;
  padding: 30px 0 0 0;
}

.navbar {
  display: inline-block;
  width: 100%;
}

.hamburger {
  float: left;
  position: relative;
  top: 5px;
  color: #000;
}

.hamburger a.link {
  all: none;
  position: absolute;
  top: -10px;
  background-color: transparent;
  color: var(--accentColor);
  border: solid var(--accentColor) 2px;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.bar {
  border-radius: 6px;
}

.firstLine {
  background-color: #7e8186;
  width: 17px;
  height: 3px;
  margin-bottom: 2px;
}

.secondLine {
  background-color: #7e8186;
  width: 10px;
  height: 3px;
  margin-bottom: 2px;
}

.thirdLine {
  background-color: #7e8186;
  width: 14px;
  height: 3px;
}

.search {
  float: right;
  position: relative;
  bottom: 20px;
}

.searchIcon {
  border: 2px solid #7e8186;
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

.tail {
  border-radius: 8px;
  position: relative;
  left: 11px;
  bottom: 2px;
  content: "";
  height: 3px;
  width: 5px;
  background-color: #7e8186;
  -ms-transform: rotate(40deg); /* IE 9 */
  -webkit-transform: rotate(40deg); /* Safari */
  transform: rotate(40deg); /* Standard syntax */
}

#search-bar {
  width: 75%;
  padding: 15px;
  float: left;
}

#submit {
  width: 25%;
  padding: 15px;
  float: right;
}

.textLogo {
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

/* Layout */

.container {
  max-width: 725px;
  margin: 0 auto;
}

/* Cards */

.card {
  box-shadow: 2px 0px 120px -6px rgba(0, 0, 0, 0.17);
}

.card-long {
  position: relative;
  background-color: black;
  width: 450px;
  height: 200px;
  float: left;
}

.card-reg {
  position: relative;
  background-color: #000;
  width: 250px;
  height: 200px;
  float: left;
}

.card-xl {
  position: relative;
  background-color: #000;
  width: 450px;
  height: 200px;
  float: left;
}

.card-sm {
  position: relative;
  background-color: #000;
  width: 250px;
  height: 200px;
  float: left;
}

/* Card Styles */

.card-long-bg {
  position: relative;
  width: 250px;
  height: 200px;
  background-position: center !important;
  background-color: #000;
  float: left;
  background: url("https://ik.imagekit.io/nrqvxs6itqd/small_QMlDLWkmr.png");
  background-size: cover;
}

.card-long-bg-two {
  width: 250px;
  height: 200px;
  background-color: #000;
  float: left;
  background: url("https://ik.imagekit.io/nrqvxs6itqd/home-background_nawBIvrrA8.jpg");
  background-size: cover;
  background-position: 50% 0;
}

.card-long-block {
  background-color: #fff;
  width: 200px;
  height: 200px;
  float: right;
}

.card-long-header {
  font-family: "Playfair Display", sans-serif;
  line-height: 20px;
  font-weight: bold;
  padding-top: 8px;
  padding-left: 17px;
}

.card-reg-left-reg {
  font-family: "Playfair Display", sans-serif;
  line-height: 22px;
  font-weight: bold;
  padding: 20px 0px 25px 17px;
  width: 130px;
}

.card-reg-left-xl {
  font-family: "Playfair Display", sans-serif;
  line-height: 22px;
  font-weight: bold;
  padding: 20px 0px 25px 17px;
  width: 130px;
}

.card-reg-left-sm {
  font-family: "Playfair Display", sans-serif;
  color: #fff;
  line-height: 22px;
  font-weight: bold;
  padding: 20px 0px 25px 17px;
  width: 130px;
}

.card-reg-header {
  font-family: "Playfair Display", sans-serif;
  text-align: center;
  color: white;
  font-weight: 700;
  position: relative;
  top: 33%;
  padding: 0px 25px;
  line-height: 24px;
}

.card-long-block p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding-top: 15px;
  padding-left: 17px;
  padding-right: 17px;
  line-height: 13px;
}

.card-reg-bg {
  background: url("https://ik.imagekit.io/nrqvxs6itqd/tr:w-355,h-200,c-force/EGS_RocketLeague_PsyonixLLC_S1-2560x1440-e9dc9ecfd5a872841615d15ba04600a6_i0XZeC1tvB.jpg")
    no-repeat;
  background-position: 50%;
}

.card-xl-bg {
  background: url("https://images.igdb.com/igdb/image/upload/t_original/ar6xz.png")
    no-repeat;
  background-size: 450px;
}

.card-reg-overlay {
  background: linear-gradient(rgba(204, 58, 77, 0.85), rgba(229, 109, 99, 0.85))
    left top no-repeat;
  background-size: 100%;
  background-position: 50% 35%;
}

.card-sm-bg {
  background: linear-gradient(rgba(204, 58, 77, 0.85), rgba(229, 109, 99, 0.85))
    left top no-repeat;
  #background-size: 100%;
  #background-position: 20% 50%;
}

.l-spacing {
  margin-left: 25px;
}

.r-spacing {
  margin-right: 25px;
}

.secondRow,
.thirdRow {
  margin-top: 20px;
}

/* Media Queries */

@media screen and (max-width: 615px) {
  .container {
    width: 90%;
  }

  .card {
    width: 100%;
    margin: 10px 0 !important;
  }

  .card-reg-header {
    top: 40%;
  }

  .card-long-bg,
  .card-long-bg-two {
    width: 45%;
  }

  .card-long-block {
    width: 55%;
  }

  .l-spacing,
  .r-spacing,
  .secondRow,
  .thirdRow {
    margin: 0;
  }
}

.credits-wrap {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding-top: 10px;
}

.credit {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
